<template>
        <div id="login" >
           <form class="form-signin" @submit.prevent="onSubmit(form)">
           <div v-if="getErrorState != null">{{ getErrorState }}</div>
           <div v-if="getLoader" class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
           <div v-if="getCurrentUser.email != null" class="alert alert-primary" role="alert">Welcome {{ getCurrentUser.email }} </div>
           <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
           <label for="inputEmail" class="sr-only">Email address</label>
           <input v-model="form.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
           <label for="inputPassword" class="sr-only">Password</label>
           <input v-model="form.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
        </div>
   <button type="submit" class="btn btn-primary" button>Login</button>
</form>
        </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
 name: 'login',

 data(){
   return{
     button: '',
        form:{
          email: null,
          password: null
        }
   }
 },

computed:{
    ...mapGetters(['getErrorState', 'getCurrentUser','getLoader']),
},

methods: {
   ...mapActions(['login']),

   onSubmit: function(form){
     this.button = "disabled"
     this.login(form)
     form.email = null,
     form.password = null
   }
 },

}

</script>

<style scoped>

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>