<template>
  <div id="app">
      <div class="text-center">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
}

</script>

<style>
.body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

</style>
