<template>
    <div id="home">
        <div class="">
        
        </div>
    </div>
</tmeplate>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
name: 'home',

  computed: {
    ...mapGetters(['setArticle']),
  },

  methods: {
     ...mapActions(['getAll', 'sendArticle']),

     onSubmit: function(){
       this.sendArticle()
     }
  },

  created(){
    this.getAll()
  }
}
</script>

<style scoped>
    
</style>